.mainDiv {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
}
.leftNav {
  width: 200px;
  height: 100%;
  background-color: azure;
}
.rightMain {
  width: calc(100% - 200px);
  height: 100%;
}